@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* HEADER */
.app-name {
  font-weight: 400;
  font-size: 2.5rem;
}

.brand {
  display: flex;
}

.logo {
  height: 70px;
  width: 70px;
}

.homepage {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  max-height: 100%;
}

.form-search {
  justify-content: center;
  align-self: center;
}

.form-search {
  margin: 1.2rem;
  padding: 0.5rem;
  width: 700px;
  align-items: center;
  display: flex;
  border-radius: 60px;
  background-color: rgba(193, 203, 209, 0.4);
}

.form-search input {
  background: none;
  flex: 1;
  border: 0;
  outline: none;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.form-search button img {
  width: 2rem;
}

.form-search button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.form-search button img:hover {
  transform: scale(1.1);
}

::placeholder {
  color: #000;
}

.search-bar {
  display: flex;
}

#degree {
  -webkit-appearance: none;
  position: relative;
  max-width: 65px;
  height: 35px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background-color 0.3s;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
}

#degree::after {
  content: "°C";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  background-color: #fff;
  transition: left 0.3s;
  padding: 2.5px;
}

#degree:checked {
  background-color: #aedaf3;
}

#degree:checked::after {
  content: "°F";
  left: 70%;
}

/* WEATHER DIV */

.main {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 4rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.info p,
.info h3 {
  margin: 0;
}

.info h3,
.temp-info h3 {
  font-weight: 600;
}

.temp {
  display: flex;
  flex-direction: column;
}

.temp-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.temp-info h1 {
  font-size: 4rem;
  margin: 0;
}

.temp-info h3 {
  align-self: flex-end;
}

.div-weather-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  width: fit-content;
  background-color: #aedaf3;
  margin: 1rem 2rem;
  padding: 1rem;
}

/* HOURLY AND DAILY FORECAST */
.hourly,
.daily {
  padding: 2rem;
}

.hourly-divs li,
.daily-divs li {
  list-style: none;
  background-color: rgba(193, 203, 209, 0.4);
  border-radius: 20px;
  text-align: center;
}
.hourly-divs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1rem;
  padding: 0;
}

.daily-divs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  padding: 0;
}

.daily-div p {
  font-size: 1.1rem;
}

/* PAGE LOADER */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddd;
  border-top-color: #aedaf3;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
  .form-search,
  .form-search-2 {
    width: 300px;
  }
  .hourly-divs,
  .div-weather-info {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }
  .homepage {
    flex-direction: column;
  }
  .div-weather-info {
    grid-template-columns: repeat(2, 1fr);
  }
  #degree {
    min-width: 38px;
    height: 28px;
    font-size: 1rem;
  }
  #degree::after {
    height: 1.2rem;
    width: 1.2rem;
    padding: 2px;
  }
}
